@CHARSET "ISO-8859-1";
#navigation {
	position: absolute;
	top: 50px;
	left: 0;
	width: 10em;
}

#content {
	margin-left: 10em;
	margin-right: 5em;
}

h1 {
	text-align: center;
	
}

h2{
	text-align: center;
	
}

#pubmap_logo {
	
}