<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.megx.megdb.browse.mappers.BrowseMapper">

	<resultMap id="metagenomesMap" type="net.megx.model.browse.MetagenomesRow">
		<result column="sid" property="sid" />
		<result column="geom" property="geom" />
		<result column="site_name" property="siteName" />
		<result column="lat" property="lat" />
		<result column="lon" property="lon" />
		<result column="latlon" property="latlon" />
		<result column="depth" property="depth" />
		<result column="date_taken" property="dateTaken" />
		<result column="hab_lite" property="habLite" />
		<result column="hab_uri" property="habUri" />
		<result column="study_type" property="studyType" />
		<result column="entity_name" property="entityName" />
		<result column="entity_url" property="entityUrl" />
		<result column="entity_country" property="entityCountry" />
		<result column="entity_iho" property="entityIho" />
		<result column="entity_region" property="entityRegion" />
		<result column="entity_descr" property="entityDescr" />
		<result column="temperature" property="temperature" />
		<result column="salinity" property="salinity" />
		<result column="oxygen" property="oxygen" />
		<result column="chlorophyll" property="chlorophyll" />
	</resultMap>

	<resultMap id="phagesMap" type="net.megx.model.browse.PhagesRow">
		<result column="id" property="id" />
		<result column="geom" property="geom" />
		<result column="site_name" property="siteName" />
		<result column="lat" property="lat" />
		<result column="lon" property="lon" />
		<result column="latlon" property="latlon" />
		<result column="depth" property="depth" />
		<result column="date_taken" property="dateTaken" />
		<result column="hab_lite" property="habLite" />
		<result column="hab_uri" property="habUri" />
		<result column="study_type" property="studyType" />
		<result column="entity_name" property="entityName" />
		<result column="entity_url" property="entityUrl" />
		<result column="entity_country" property="entityCountry" />
		<result column="entity_iho" property="entityIho" />
		<result column="entity_region" property="entityRegion" />
		<result column="entity_descr" property="entityDescr" />
		<result column="temperature" property="temperature" />
		<result column="salinity" property="salinity" />
		<result column="oxygen" property="oxygen" />
		<result column="chlorophyll" property="chlorophyll" />
		<result column="embl_accn" property="emblAccn" />
		<result column="gbk_def" property="gbkDef" />
		<result column="phg_taxid" property="phgTaxid" />
		<result column="phg_order" property="phgOrder" />
		<result column="phg_family_ncbi" property="phgFamilyNcbi" />
		<result column="phg_family_expert" property="phgFamilyExpert" />
		<result column="original_host" property="originalHost" />
		<result column="host_taxid" property="hostTaxid" />
		<result column="host_domain" property="hostDomain" />
		<result column="host_phylum" property="hostPhylum" />
		<result column="host_class" property="hostClass" />
		<result column="host_order" property="hostOrder" />
		<result column="host_family" property="hostFamily" />
		<result column="host_genus" property="hostGenus" />
		<result column="host_species" property="hostSpecies" />
		<result column="host_subsp" property="hostSubsp" />
		<result column="phg_gprj_id" property="phgGprjId" />
	</resultMap>

	<select id="getMetagenomes" resultMap="metagenomesMap">
		SELECT
			sid, geom,
			site_name, lat, lon, latlon, depth, date_taken, hab_lite,
			hab_uri, study_type, entity_name, entity_url, entity_country,
			entity_iho, entity_region, entity_descr, temperature, salinity,
			oxygen, chlorophyll
		FROM 
			web_r8.metagenomes;
	</select>

	<select id="getPhages" resultMap="phagesMap">
		SELECT 
			id, geom, site_name,
			lat, lon, latlon, depth, date_taken, hab_lite,
			hab_uri, study_type, entity_name, entity_url, entity_country,
			entity_iho, entity_region, entity_descr, temperature, salinity,
			oxygen, chlorophyll, embl_accn, gbk_def, phg_taxid, phg_order,
			phg_family_ncbi, phg_family_expert, original_host, host_taxid,
			host_domain, host_phylum, host_class, host_order, host_family,
			host_genus, host_species, host_subsp, phg_gprj_id
		FROM
			web_r8.marine_phages;
	</select>

</mapper>