/* data panel styles*/
.data-panel-wrapper{
	padding: 15px;
}

.data-panel-header{
	font-size: 14px;
	font-weight: bold;
}
.data-panel-content{
	padding: 2px;
}
.data-panel-footer{
	border-top: solid 1px #999;
	text-align: right;
}
.panel-field-wrapper{
	margin: 4px;
}

.panel-field-label{
	float: left;
	width: 200px;
	font: bold 12px sans-serif;
	color: #999;
}

.panel-input-array-element{
	background: #C4EEFF;
	font: 10px sans-serif;
	padding: 2px;
	border: solid 1px #004F6E;
	margin: 4px;
}

.panel-subsection{
	border-top: solid 1px #AAA;
	padding: 10px;
}

.panel-subsection-title{
	font: bold 12px sans-serif;
}
/*
 // end data panel styles
*/

.admin-left-container{
	float: left;
	width: 200px;
}
.admin-content{
	padding-left: 200px;
}

.admin-action-container{
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-left: 5px;
	padding: 5px;
	cursor: pointer;
}
.admin-action-state-default{
	border: solid 1px #999;
	border-right: none;
	background: none;
}

.admin-action-state-selected{
	border: solid 1px #999;
	border-right: none;
	background: #C4EEFF;
}

.admin-general-action{
	border: solid 1px #999;
	background: #C4EEFF;
	cursor: pointer;
}

.user-action-remove{
   display: inline-block;
}
.rc-action-remove{
   display: inline-block;
}
.resource-entry{
	padding: 10px;
	border: solid 1px #999;
	margin: 3px;
}
.resources-panel-wrapper{
	border: solid 1px #999;
	padding: 15px;
}
.resources-panel-content{
	margin-top: 10px;
	border-top: solid 1px #AAA;
	padding-top: 15px;
}
.array-value-inline{
	padding: 2px;
	margin: 2px;
	background: #4FC1FF;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
}

.resource-pattern{
	/*color: #999;*/
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}