*.settings
*.project
*.classpath
target/
*.prefs
*.min.js
*.min.css

## Have a developer dir in config but ignore all files therein
config/developer/**
!config/developer/README
## misc undiesered files
net.megx.esa/res/net.megx.esa/data/esa_options.json
net.megx.mibig/res/net.megx.mibig/data/mibig_options.json
net.megx.osd.registry/res/net.megx.osd.registry/data/osd_options.json
net.megx.osd.registry/res/net.megx.osd.registry/data/participation-options.json
megx.net-plugin-archetype/bin/
megx.net-web/${megx.work.dir.path}/
megx.net-plugin-archetype/.settings/org.eclipse.core.resources.prefs
net.megx.pubmap/.project
net.megx.test.jbehave/.settings/org.eclipse.core.resources.prefs
net.megx.test.jbehave/dummy.webapp/.project
net.megx.test.jbehave/dummy.webapp/.settings/org.eclipse.core.resources.prefs
net.megx.test.jbehave/dummy.webapp/.settings/org.eclipse.jdt.core.prefs
net.megx.twitter/properties/
