<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.megx.megdb.esa.mappers.ESAMapper">
	<resultMap type="ESASample" id="esa_sample_map">
		<result column="id" property=""/>
		<result column="taken" property=""/>
		<result column="modified" property=""/>
		<result column="collector_id" property=""/>
		<result column="label" property=""/>
		<result column="raw_data" property=""/>
		<result column="barcode" property=""/>
		<result column="project_id" property=""/>
		<result column="user_name" property=""/>
		<result column="ship_name" property=""/>
		<result column="nationality" property=""/>
		<result column="elevation" property=""/>
		<result column="biome" property=""/>
		<result column="feature" property=""/>
		<result column="collection" property=""/>
		<result column="permit" property=""/>
		<result column="sampling_depth" property=""/>
		<result column="water_depth" property=""/>
		<result column="sample_size" property=""/>
		<result column="weather_condition" property=""/>
		<result column="air_temperature" property=""/>
		<result column="water_temperature" property=""/>
		<result column="conductivity" property=""/>
		<result column="wind_speed" property=""/>
		<result column="salinity" property=""/>
		<result column="lat" property=""/>
		<result column="lon" property=""/>
		<association property="photos" column="id" select="getPhotosForSample"/>
	</resultMap>
	
	<resultMap  type="ESAConfig" id="esa_configuration_map">
	    <result column="name" property=""/>
	    <result column="value" property=""/>
	</resultMap>
	
	<resultMap type="ESASamplePhoto" id="esa_sample_photo">
		<result column="uuid" property=""/>
		<result column="data" property=""/>
		<result column="path" property=""/>
		<result column="mime_type" property=""/>
	</resultMap>
	
	<sql id="esa_sample_columns_all">
		id,taken, modified, collector_id, label, raw_data, barcode, project_id, user_name, ship_name, 
	    nationality, elevation, biome, feature, collection, permit, sampling_depth, water_depth, sample_size, weather_condition, 
	    air_temperature, water_temperature, conductivity, wind_speed, salinity, lat, lon
	</sql>
	
	<sql id="esa_sample_images_columns_all">
	    uuid,
	    sid,
	    data,
	    path,
	    mime_type
	</sql>
	
	<select id="getSample" resultMap="esa_sample_map">
	    SELECT * 
	    FROM esa.samples 
	    WHERE esa.samples.id=#{id}
	</select>
	
	<select id="getConfiguration" resultMap="esa_configuration_map">
	    SELECT name,value 
	    FROM esa.gen_config WHERE category=#{category}
	</select>
	
	<select id="getConfigValue" resultType="String">
	    SELECT value
	    FROM esa.gen_config
	    WHERE config=#{config} and name=#{name}
	</select>
	
	<select id="getPhotosForSample" resultMap="esa_sample_photo">
	    SELECT esa.sample_images.uuid, esa.sample_images.data, esa.sample_images.path, esa.sample_images.mime_type
	    FROM esa.sample_images LEFT JOIN esa.samples ON esa.sample_images.sid=esa.samples.id
	    WHERE esa.samples.id=#{id}
	</select>
	
	<insert id="addSample" parameterType="ESASample">
	    INSERT INTO esa.samples(<include refid="esa_sample_columns_all"/>)
	    VALUES
	    (#{taken}, #{modified}, #{collector_id}, #{label}, #{raw_data}, #{barcode}, #{project_id}, #{user_name}, #{ship_name}, 
	    #{nationality}, #{elevation}, #{biome}, #{feature}, #{collection}, #{permit}, #{sampling_depth}, #{water_depth}, 
	    #{sample_size}, #{weather_condition}, #{air_temperature}, #{water_temperature}, #{conductivity}, #{wind_speed}, 
	    #{salinity}, #{lat}, #{lon})
	</insert>
	
	<delete id="removeSample" parameterType="int">
	    DELETE FROM esa.samples
	    WHERE esa.samples.id=#{id}
	</delete>
	
	<delete id="clearConfigValue" parameterType="map">
	    DELETE FROM esa.gen_config
	    WHERE esa.gen_config.category=#{category} AND esa.gen_config.name=#{name}
	</delete>
	
	<delete id="clearConfig" parameterType="String">
	    DELETE FROM esa.gen_config
	    WHERE esa.gen_config.category=#{category}
	</delete>
	
	<insert id="storeConfiguration" parameterType="map">
	    INSERT INTO esa.gen_config(category, name, value)
	    VALUES
	    <foreach collection="config" item="c" separator=",">
	    	 (#{category}, ${c.name}, ${c.value})
	    </foreach>
	</insert>
	
	<insert id="storeConfigValue" parameterType="map"> 
	   	INSERT INTO esa.gen_config(category, name, value)
	    VALUES (#{category}, #{name}, #{value})
	</insert>
	
	<insert id="addPhoto" parameterType="map">
	    INSERT INTO esa.sample_images (<include refid="esa_sample_images_columns_all"/>)
	    VALUES (#{photo.uuid}, #{sampleId}, #{photo.data}, #{photo.path}, #{photo.mime_type})
	</insert>
	
	<update id="updatePhoto" parameterType="map">
	    UPDATE esa.sample_images
	    SET sid=#{photo.sid},
	    	data=#{photo.data},
	    	path=#{photo.path},
	    	mime_type=#{photo.mime_type}
    	WHERE
    		uuid=#{photo.uuid}
	</update>

</mapper>