#clear_button {
	margin-left: 7px;
}
#jobSummary
{
font-family:"Trebuchet MS", Arial;
width:100%;
border-collapse:collapse;
}
#jobSummary td, #jobSummary th 
{
font-size:1em;
padding:3px 7px 2px 7px;
}
.errorMsg{
	display: none; 
	font-size: 14px; 
	color: #FF0000; 
	margin-left: 234px;
}
.textBold{
	font-weight: bold;
}