Thank you for registering for an account on Megx.net.

In order to complete the registration, please click on the link below.   This will confirm your email address to us and allow us to create your account:

$activationURL

You have received this email because someone has registered an account with your details on Megx.net. If you believe this to be an error or you are experiencing problems activating your account, please reply on this email.

Thanks,

Megx.net Team