/* data panel styles*/
.data-panel-wrapper{
	padding: 15px;
}

.data-panel-header{
	font-size: 14px;
	font-weight: bold;
}
.data-panel-content{
	padding: 2px;
}
.data-panel-footer{
	border-top: solid 1px #999;
	text-align: right;
}
.panel-field-wrapper{
	margin: 4px;
}

.panel-field-label{
	float: left;
	width: 200px;
	font: bold 12px sans-serif;
	color: #999;
}

.panel-input-array-element{
	background: #C4EEFF;
	font: 10px sans-serif;
	padding: 2px;
	border: solid 1px #004F6E;
	margin: 4px;
}

.panel-subsection{
	border-top: solid 1px #AAA;
	padding: 10px;
}

.panel-subsection-title{
	font: bold 12px sans-serif;
}
/*
 // end data panel styles
*/

.admin-left-container{
	float: left;
	width: 200px;
}
.admin-content{
	padding-left: 200px;
}

.admin-action-container{
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-left: 5px;
	padding: 5px;
	cursor: pointer;
}
.admin-action-state-default{
	border: solid 1px #999;
	border-right: none;
	background: none;
}

.admin-action-state-selected{
	border: solid 1px #999;
	border-right: none;
	background: #C4EEFF;
}

.admin-general-action{
	border: solid 1px #999;
	background: #C4EEFF;
	cursor: pointer;
}

.user-action-remove{
   display: inline-block;
}
.rc-action-remove{
   display: inline-block;
}
.resource-entry{
	padding: 10px;
	border: solid 1px #999;
	margin: 3px;
}
.resources-panel-wrapper{
	border: solid 1px #999;
	padding: 15px;
}
.resources-panel-content{
	margin-top: 10px;
	border-top: solid 1px #AAA;
	padding-top: 15px;
}
.array-value-inline{
	padding: 2px;
	margin: 2px;
	background: #4FC1FF;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
}

.resource-pattern{
	/*color: #999;*/
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.pagintor-wrapper{
	width: 100%;
	padding: 3px;
	font-size: 10px;
}

.paginator-pages{
	
}
.paginator-info{
	float: right;
	
}

.paginator-page-selectable{
	margin-left: 2px;
	margin-right: 2px;
	cursor: pointer;
	font-weight: bold;
	color: #999;
}
.paginator-page-unselectable{
	margin-left: 2px;
    margin-right: 2px;
}

.paginator-page-numbers{
	display: inline-block;
	width: 160px;
}



.roles-panel-wrapper{
    border: solid 1px #999;
    padding: 15px;
}
.roles-panel-content{
    margin-top: 10px;
    border-top: solid 1px #AAA;
    padding-top: 15px;
}
.role-entry{
	margin: 5px;
	margin-bottom: 10px;
}

.role-entry-title{
	font-weight: bold;
	font-size: 12px;
	float: left;
	width: 300px;
}

.role-entry-description{
	font-size: 10px;
	font-weight: normal;
	color: #999;
	padding-left: 15px;
}

.role-action{
	text-decoration: underline;
	cursor: pointer;
}

.filter-select-result-label{
	color: #999;
	font-weight: bold;
}

.filter-select-result-description{
	font-size: 10px;
}

.filter-select-result-actions{
	font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
	float: right;
	margin-left: 3px;
	margin-right: 3px; 
}

.filter-select-result-content{
	width: 300px;
}

.filter-select-hint{
	float: left;
    width: 500px;
    padding: 5px;
    border: solid 1px #AAA;
    background: #fff;
}
.filter-select-result{
	border-bottom: solid 1px #AAA;
	
	padding: 5px;
}

.result-entry-action{
	display: inline-block;
}

.filter-select-action{
	font-size: 10px;
	float: right;
	cursor: pointer;
	text-decoration: underline;
	color: #999;
}
