<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.megx.megdb.mgtraits.mappers.MGTraitsMapper">
	<insert id="insertMGTraitsJob" parameterType="map">
	    INSERT INTO mg_traits.mg_traits_jobs(mg_url, sample_label, sample_environment)
	    VALUES
	    (#{inputFileURL}, #{sampleName}, #{envName})
	</insert>
</mapper>