<nav>

  <ul>

    <!-- home menu -->
    <li><a href="$ctx.siteUrl/">home</a>
      <ul>
        <li><a href="$ctx.siteUrl/portal/about/about.html">About</a></li>
        <li><a href="$ctx.siteUrl/portal/tutorial.html">Tutorials</a></li>
        <li><a href="$ctx.siteUrl/portal/content/content.html">Content</a></li>
        <li><a href="$ctx.siteUrl/portal/faq.html">FAQ</a></li>
        <li><a href="$ctx.siteUrl/portal/team/team.html">Team</a></li>
        <li><a href="$ctx.siteUrl/portal/news/news.html">News</a></li>
        <li><a href="$ctx.siteUrl/portal/related/related.html">Related</a></li>
      </ul></li>
    <!-- OSD menu -->
    <li><a>OSD</a>
      <ul>
      <li><a href="$ctx.siteUrl/osd-registry">OSD Overview</a></li>
        <li><a href="http://www.my-osd.org">Citizen Science</a></li>
        <li><a href="$ctx.siteUrl/osd-app">OSD Sampling App</a></li>
        <li><a href="$ctx.siteUrl/osd-registry/list">OSD Sites</a></li>
        <li><a href="$ctx.siteUrl/osd-app/samples">OSD Live</a></li>
        
        <li><a href=""></a></li>
                <li><a href=""></a></li>
      </ul>
    </li>
    
    <!-- tools menu -->
    <li><a>tools</a>
      <ul>
        <li><a href="$ctx.siteUrl/gms">Mapserver</a></li>
        <!-- 
        <li><a href="$ctx.siteUrl/gms/geographic-blast">Geographic BLAST</a></li>
         -->
        <li><a href="$ctx.siteUrl/tools/tools.html">GIS Tools</a></li>
        <li><a href="$ctx.siteUrl/osd-app/samples">OSD Sampling App</a></li>
        <li><a href="$ctx.siteUrl/osd-registry">OSD Registry</a></li>
      </ul></li>

    <!-- Browse menu -->
    <li><a href="$ctx.siteUrl/$ext.list.browse_items[0].path">browse</a>
      <ul class="menu-list">
        #foreach($m in $ext.list.browse_items)
        <li><a href="$ctx.siteUrl/$m.path">$m.title</a></li> #end
        <li><a href="$ctx.siteUrl/mg-traits/samples">Metagenomic
            Traits</a></li>
      </ul></li>

    <!-- edutainment -->
    <li><a href="$ctx.siteUrl/portal/edutainment.html">edutainment</a>
      <ul class="menu-list">
        <li><a href="$ctx.siteUrl/edutainment/Genome-Explorer--EN">Genome
            Explorer</a></li>
      </ul></li>

    <!-- portal menu -->
    <li><a href="$ctx.siteUrl/portal/toolbox.html">portal</a>
      <ul>
        <li><a href="$ctx.siteUrl/portal/toolbox.html"><b>Overview</b></a></li>
        <li><span>Maintained</span></li>
        <li><a href="http://www.jcoast.net">JCoast</a></li>
        <li><a href="http://www.megx.net/michanthi/michanthi.html">MicHanThi</a></li>
        <li><a href="http://www.megx.net/metabar/login.htm">MetaBar</a></li>
        <li><a href="http://www.mpi-bremen.de/en/MADA.html">MADA</a></li>
        <li><a href="http://www.megx.net/ribalign/index.html">Ribalign</a></li>
        <li><a href="http://soma.arb-silva.de">TaxSOM</a></li>
        <li><a href="http://www.megx.net/CDinFusion/">CDinFusion</a></li>
        <li><a href="http://www.megx.net/FastaValidator/index.html">FastaValidator</a></li>
        <li><span>Unmaintained</span></li>
        <li><a href="http://www.megx.net/metalook/index.php">MetaLook</a></li>
        <li><a href="http://www.megx.net/metamine/">MetaMine</a></li>
        <li><a href="http://www.megx.net/tetra/index.html">TETRA</a></li>
      </ul></li>

    <!-- contact -->
    <li><a href="$ctx.siteUrl/portal/contact.html">contact</a></li>
  </ul>
</nav>
<div class="clear"></div>
<noscript>
  <h3 style="color: #990000;">To get the full functionality,
    please, activate JavaScript in your browser!</h3>
</noscript>