.settings-header-wrapper{
	padding: 10px;
	float: right;
}

.settings-header-menu{
	position: absolute;
	/*background-color: #E7E7E7;*/
	background-color: #efefef;
    border-radius: 3px 3px 3px 3px;
    z-index: 100;
    margin-left: -10px;
    margin-top: -1px;
    box-shadow: 5px 6px 5px rgba(0,0,0,0.3);
}

.settings-header-top{
	text-align: right;
}
.settings-header-state-expanded{
	/*background-color: #E7E7E7;*/
	background-color: #efefef;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 5px 6px 5px rgba(0,0,0,0.3);
}


.settings-header-menu li{
	padding: 5px;
}



.settings-header-action{
	border-left: solid 1px;
	cursor: pointer;
	
}

.settings-header-wrapper .ui-icon{
	display: inline-block;
}