#megxMapWidget{
	width: 98%;
	margin-left: auto;
  	margin-right: auto ;
}

#megxMap{
	width: 910px; 
	height: 510px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
	border-color: lightgrey; 
	border-radius: 5px; 
}

#layersAccordion{
	padding-top: 20px;
	width:49%;
	margin-bottom: 20px;
	float: left;
}


#newLayer{
	margin-top: 20px;

	
}

.messagesPlaceholder{
	border: 1px solid; 
	border-color: grey; 
	border-radius: 5px; 
	max-height: 120px; 
	overflow-y: auto;
}

.mx-layer-configuration-header {  
	float:right;
}

#sampleStats .ui-accordion-header{
	margin: 20px;
}

.ui-dialog  .ui-dialog-titlebar-close span {
	margin-top: -8px;
	margin-left: -8px;
}

#sampleStats {
	width: 49%;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}

#sampledOceansContainer {
	margin-bottom: 10px;
	width: 910px;
	margin-left: auto;
	margin-right: auto;
}

.ui-state-default {
	padding: 0.5em 0.5em 0.5em 0.7em;
	font-size: 14px;
}

#sampleStats .ui-state-default {
	padding: 0.5em 0.5em 0.5em 0.7em;
	font-size: 14px;
}

#recentObservationsContainer {
	margin-bottom: 10px;
}

.sampledOceansContent {
  border: 1px solid #CCC;
  border-top: 0px;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}

.recentObservationsContent {
  border: 1px solid #CCC;
  border-top: 0px;
  border-radius: 0 0 5px 5px;
  padding: 10px;
}

#recentObservations tr:first-child{
  border-bottom: 1px dashed #CCC;
}

#recentObservations tr td table tr:first-child{
  border: 0px;
}


#osdAppTable {
	width:100%;
	overflow:auto;
}

.mx-layer-description{
	font-size: 11px;
}


#newLayer .ui-state-default {
	padding: 1px;
}