<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="chon" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="Chon_Core.feature.group" version="1.0.0"/>
<unit id="Chon_Libraries.feature.group" version="1.0.0"/>
<unit id="Chon_Rest.feature.group" version="1.0.0"/>
<repository location="http://p2.choncms.com/SNAPSHOT"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/OSGi%Minimum-1.2"/>
</target>
