body {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 5px solid;
	border-color: hsl(208, 68%, 79%);
	border-radius: 5px;
	height: 100%;
	overflow: hidden;
}
.button{
	border: 2px solid hsl(212, 83%, 32%);
	padding: 12px 44px; 
	background: hsl(208, 68%, 79%);
	border-radius: 3px;
	text-decoration: none;
	font-size:13px;
}
#loginCheck { 
    position:absolute;
    top:35%;
    left:4%;
}
.geoNamesLogo {
	width: 84px;
	height: 24px;
	position:absolute;
    top:95.5%;
    left:70%;
}

#longitudeLabel, #latitudeLabel {
	margin-left: 13px;
}

#placeTypeLabel, #placeNameLabel {
	margin-left: 13px;
}

#placeTypeSelect {
	height: 22px;
	width: 160px;
	margin-left: 3px;
	margin-bottom: 3px; 
	margin-top: 1px;
}

#placeName {
	height: 22px;
	width: 160px;
	margin-left: 10px;
	margin-bottom: 3px; 
	margin-top: 1px;
}

#longitudeLabelDegrees, #latitudeLabelDegrees {
	margin-left: 2px;
}
#decimal, #degrees, #regionName {
	margin-left: 15px;
}
.inputDecimal {
	height: 22px;
	width: 130px;
	display: inline;
	margin-bottom: 3px;
	margin-top: 1px;
	margin-left: 10px;
}
.inputDegrees {
	height: 22px;
	width: 45px;
	display: inline;
	margin-bottom: 3px;
	margin-top: 1px;
	margin-left: 6px;
}
#submitBookmark {
	border: 1px;
	border-radius: 10px;
	margin-left: 112px;
	width: 85px;
	background: hsl(208, 68%, 79%);
}
table,tr,th,td {
	border-spacing:5px;
	margin: 2px;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	margin-top:30px;
}
#infoMessage {
	display:none;
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url(../images/icons/info.png);
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 2px center;
	margin-top:25%;
	text-align: center;
}
#auths {
	text-decoration: underline;
	font-size: 11px;
}
#title {
	font-size: 14px;
	font-weight: bold;
}
.my-error-class  {
    color:red;
    margin-left: 19px;
}
.my-valid-class  {
    color:green;
    margin-left: 19px;
}
.coordinatesErrorMsg {
	display: none; 
	color:red;
	margin-left: 2px;;
}
#logout{
	border: 1px;
	border-radius: 10px;
	margin-left: 225px;
	width: 84px;
	background: hsl(208, 68%, 79%);
	font-size: 11px;
}