<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.megx.megdb.wod05.mappers.Wod05Mapper">

	<resultMap id="wod05Map" type="net.megx.model.wod05.Wod05">
		<result column="yr" property="year" />
		<result column="mon" property="month" />
		<result column="temperature" property="temperature" />
		<result column="salinity" property="salinity" />
		<result column="oxygen" property="oxygen" />
		<result column="phosphate" property="phosphate" />
		<result column="silicate" property="silicate" />
		<result column="nitrate" property="nitrate" />
		<result column="nitrite" property="nitrite" />
		<result column="ph" property="ph" />
		<result column="chlorophyll" property="chlorophyll" />
		<result column="plankton_biomass" property="planktonBiomass" />
		<result column="alkalinity" property="alkalinity" />		
	</resultMap>
	
	
	<select id="getWod05Data" parameterType="map" resultMap="wod05Map">
		SELECT * FROM 
			elayers.wod05_idw_ip(
				#{0}::real, 
				#{1}::real, 
				#{2}::real, 
				#{3}::real)	
	 	ORDER BY yr,mon
	</select>
	
</mapper>