appKey=PASTE_YOUR_APP_KEY_HERE
appSecret=PASTE_YOUR_APP_SECRET_HERE
accessToken=PASTE_YOUR_ACCESS_TOKEN_HERE
accessTokenSecret=PASTE_YOUR_ACCESS_TOKEN_SECRET_HERE
restBaseURL=https://api.twitter.com/1.1/
#httpProxyHost= set to your procy host
#httpProxyPort= and proxy port