@CHARSET "ISO-8859-1";

body {
	min-width: 800px;
	font-family: helvetica, arial, sans-serif;
	font-size: 11pt;
	font-weight: normal;
	background-color: white;
	color: black;
	margin: auto;
	text-align: center;
}

#header_area {
	margin: auto;
	width: 60em;
	padding-bottom: 0.3em;
}

#title_logo {
	padding-top: 1.0em;
	padding-bottom: 0em;
}

#title_logo img {
	display: block;
	border: 0;
	margin-left: 0;
	margin-right: auto;
	width: 261px;
	height: 65.25px;
	float: left;
}

#clickpath {
	display: block;
	float: right;
	margin-right: 0;
	margin-top: 0;
	font-size: 26pt;
	font-weight: bold;
	text-align: right;
	color: rgb(88, 153, 211);
	background-color: inherit;
}

#clickpath .deep {
	font-size: 14pt;
}

#nav_right {
	text-align: right;
	clear: both;
}

#nav_right a {
	padding: 0 0.4em 0 0.4em;
	color: rgb(149, 149, 149);
	background-color: inherit;
	font-size: 13pt;
}

#nav_right a:hover {
	text-decoration: none;
	color: rgb(88, 153, 211);
}

#titel {
	color: rgb(204, 153, 102);
	style ="font-family: 'Times New Roman'";
	background-color: white;
}

#subtitel {
	color: rgb(204, 153, 102);
	style ="font-family: 'Times New Roman'";
	font-size: x-small;
	background-color: white;
}

#logo {
	position: absolute;
    top: 50px;
    left: 0;
    width: 10em;
}


#search_coordinates{
	
     background: -moz-linear-gradient(center bottom , #D1DCEB, #F1F1F1) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    position: absolute;
    top: 15em;
    width: 15em;
    -moz-box-shadow: 1px 1px 6px #292929;
	
}
#search_regions {
	background: -moz-linear-gradient(center bottom , #D1DCEB, #F1F1F1) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    position: absolute;
    top: 38em;
    width: 15em;
    -moz-box-shadow: 1px 1px 6px #292929;
	
}
h3 {
	left: 3em;
    position: absolute;
    top: 6em;
    font-size: 25px;
}