/*-----------------------------------------------------------------------------------*/
/*	Main CSS
/*-----------------------------------------------------------------------------------*/

body{
	margin:0px;
	padding:0px;
	background-color: #f3f9ff;
	font-family:'Tahoma',sans-serif;
	font-size:12px;
}

ul, li, a, ol, h1, h2, h3, h4, h5, h6{
	margin:0px;
	padding:0px;
	outline:none;
}

h1, h2, h3, h4, h5, h6{
	color:#12406e;
	font-weight:normal;
	margin:0 0 23px 0;
}

h1{
	font-size:24px;
	text-shadow: 0px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=0, offy=1);
}

h2{
	font-size:20px;
	text-shadow: 0px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=0, offy=1);	
}

h3{
	font-size:18px;
}

h4{
	font-size:14px;
}

h5{
	font-size:12px;
}

h6{
	font-size:11px;
}

em{
	font-style:italic !important;
}

strong{
	font-weight:bold !important;
}

pre{
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #CFCFCF;
    font-family: monospace;
    overflow: auto;
    padding: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

p, blockquote, pre{
    color: #12406e;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 16px;
}

.container{
	min-width:960px;
	width:70%;
	margin:0px auto;

	-webkit-box-shadow: 0px 0px 15px 0px #bbbbbb;
	-moz-box-shadow: 0px 0px 15px 0px #bbbbbb;
	box-shadow: 0px 0px 15px 0px #bbbbbb;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

}

.clear{
	clear:both;
}

.dataTables_wrapper{
	margin-top:20px !important;
}

/*-----------------------------------------------------------------------------------*/
/*	Header CSS
/*-----------------------------------------------------------------------------------*/

#header{
	margin:0px;
	padding: 0px 0px 0px 0px;
	background-color: #ffffff;

}

#header .logo{
	margin:0;
	padding:11px 0 0 0;
}

#header-right{
	float:right;
	margin: 5px 5px 0px 0px;
}

#user-card{
	width:300px;
	color:#165fa8;
}

#user-card #user-meta{
	float:right;
	width:233px;
	text-align:left;
	line-height:19px;
}

#user-card #user-meta span{
	font-size:10px;
}

#user-card #user-meta a{
	color:#305070;
	text-decoration:none;
}

.avatar{
	-webkit-box-shadow: 0px 0px 15px 0px #bbbbbb;
	-moz-box-shadow: 0px 0px 15px 0px #bbbbbb;
	box-shadow: 0px 0px 15px 0px #bbbbbb;
}

/*-----------------------------------------------------------------------------------*/
/*	Dash CSS
/*-----------------------------------------------------------------------------------*/

#cpanel{
    background-color: #fcfcfc;
	width:auto;
	-webkit-box-shadow: 0px 0px 15px 0px #bbbbbb;
	-moz-box-shadow: 0px 0px 15px 0px #bbbbbb;
	box-shadow: 0px 0px 15px 0px #bbbbbb;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin: 0px 0 0 0;
	float: right;
	width: 78%;
}

#navBox {
	width: 20%;
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 1px 0px;	
	display: block;


	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;	overflow: hidden;
	

}
#navBox ul {
	float: left;
	display: block;

}

#navBox ul li{
	float: left;
	display: block;
	position: relative;
	width: 100%;
}

#navBox ul li a{
    display: block;

    color: #095090;
	background-color: #c4dbf3;

    width: 100%;
    height: 20px;

    font-size: 11px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
	float: left;
	text-align: left;
	font-weight:bold;
	padding: 7px 10px 0px;
}


#navBox ul li.current {
	background-color: #1d4570;
	text-shadow: 0 1px 0 #333;
	color: #fff;
	
}

#navBox ul li a:hover{
	color:#fff;
	display: block;
	background-color: #1d4570;
	text-shadow: 0 1px 0 #333;
	font-weight:  normal;

}

#navBox ul li.current a{
	color:#fff;
	background-color: #1d4570;
	text-shadow: 0 1px 0 #333;
	font-weight:normal;
}

#bodyContent{
	background:#356497;
	padding:5px 0 0 0;
}

#bodyContent ul li{
	float:left;
}

#bodyContent ul li a{
    background-color: #1d4570;
    color: #ffffff;
    display: block;
    font-size: 10px;
	font-weight:bold;
	margin:7px 0 0 10px;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 #555555;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#bodyContent ul li.current a{
	background:#f5f5f5;
	color: #1d4570;
	text-shadow:none;
	font-size:11px;
}

.panel{
	padding:25px 20px 15px 20px;
}

.panel.hidden{
	display:none;
}

.panel ul{
	list-style:circle;
}

.panel ol{
	list-style:decimal outside none;
}

.panel ul, .panel ol{
	margin: 0 20px 15px;
	color:#243c57;
	line-height:18px;
}

/*-----------------------------------------------------------------------------------*/
/*	Table Styles
/*-----------------------------------------------------------------------------------*/

table{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #12406e;
    margin-bottom: 16px;
    padding: 5px;
    width: 100%;
}

thead, th{
    background: none repeat scroll 0 0 #EEEEEE;
    font-weight: bold;
    text-align: left;
}

tr{
    border-bottom: 1px solid #DDDDDD;
}

td, th{
    border-right: 1px solid #DDDDDD;
    padding: 10px;
}

/*-----------------------------------------------------------------------------------*/
/*	Grid Layout
/*-----------------------------------------------------------------------------------*/

.grid{
    width: 49%;
	margin-top:30px;
	margin-bottom:30px;
}

.grid.left{
    float: left;
}

.grid.right{
    float: right;
}

.grid.third{
    width: 32%;
}

.grid.twothird{
    width: 66%;
}

.grid.onehalf{
	float:left;
	width:48%;
	margin-right:2%;
}

.grid.onehalf.last{
	margin-right: 0 !important;
}

.grid.onethird{
	float:left;
	width:31%;
	margin-right:2%;
}

.grid.onethird.last{
	margin-right:0 !important;
}

.grid.onefourth{
	float:left;
	width:23%;
	margin-right:2%;
}

.grid.onefourth.last{
	margin-right:0 !important;
}

.grid.onefifth{
	float:left;
	width:18%;
	margin-right:2%;
}

.grid.onefifth.last{
	margin-right:0 !important;
}

.grid.onesixth{
	float:left;
	width:14%;
	margin-right:3%;
}

.grid.onesixth.last{
	margin-right:0 !important;
}

.grid.dash{
    background: none repeat scroll 0 0 #2a65a6;
    border: 1px solid #356497;
    font-family: monospace;
    overflow: auto;
    padding: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.grid.dash img{
	margin:10px;
}

/*-----------------------------------------------------------------------------------*/
/*	Footer CSS
/*-----------------------------------------------------------------------------------*/

#footer{
	color:#165fa8;
	padding:0 10px;
	margin:5px 0 60px 0;
	line-height:20px;
	font-size:10px;
	font-weight:bold;
}

#footer a{
	color:#305070;
	text-decoration:none;
}

#footer-right{
	float:right;
	text-align:right;
}

/*-----------------------------------------------------------------------------------*/
/*	Notes
/*-----------------------------------------------------------------------------------*/

.notification{
	display:none;
	cursor:pointer;
	border-bottom:2px solid;
	color: #305070;
	display: block;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 11px;
	margin-bottom: 20px;
	overflow: hidden;
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.15), 0px 0px 2px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.15), 0px 0px 2px rgba(0,0,0,0.05);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.15), 0px 0px 2px rgba(0,0,0,0.05); /* standards version last */
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index:40;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.notification p{
	padding: 10px 12px 10px 42px;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.65);
	margin:0px !important;
}

.notification p strong{
	color: #303030;
	font-weight: bold;
}

.notification.success{
	background-color: #dde6ba;
	border-color: #d0e289 #c6d881 #b8cb71;
	background: -moz-linear-gradient(top,
		#fff,
		#e6efc2 2%,
		#d9e2b7
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#fff),
		color-stop(0.02, #e6efc2),
		to(#d9e2b7)
	);
	background: linear-gradient(top,
		#fff,
		#e6efc2 2%,
		#d9e2b7
	);
	filter: PROGID:DXImageTransform.Microsoft.Gradient(StartColorStr='#e6efc2',EndColorStr='#d9e2b7');
}

.notification.success p{
	background: transparent url(../images/tick.png) no-repeat scroll 14px 12px;
}

.notification.success p strong{
	color: #417800;
}

.notification.error{
	background-color: #f6dbd6;
	border-color: #f7d5d6 #f1c8ca #f2b5b8;
	background: -moz-linear-gradient(top,
		#fff,
		#fbe2e3 2%,
		#eeccce
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#fff),
		color-stop(0.02, #fbe2e3),
		to(#eeccce)
	);
	background: linear-gradient(top,
		#fff,
		#fbe2e3 2%,
		#eeccce
	);
	filter: PROGID:DXImageTransform.Microsoft.Gradient(StartColorStr='#fbe2e3',EndColorStr='#eeccce');
}

.notification.error p{
	background:transparent url(../images/cross.png) no-repeat scroll 14px 12px;
}

.notification.error p strong{
	color: #d43c41;
}

.notification.warning{
	background-color: #f9f9b4;
	border-color: #f7dc72 #f4d96c #eace61;
	background: -moz-linear-gradient(top,
		#fff,
		#ffffb9 2%,
		#f0efae
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#fff),
		color-stop(0.02, #ffffb9),
		to(#f0efae)
	);
	background: linear-gradient(top,
		#fff,
		#ffffb9 2%,
		#f0efae
	);
	filter: PROGID:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffb9',EndColorStr='#f0efae');
}

.notification.warning p{
	background: transparent url(../images/exclamation.png) no-repeat scroll 14px 12px;
}

.notification.warning p strong{
	color: #777909;
}

.notification.tip{
	background-color: #dceffa;
	border-color: #b8e1fd #a6d4f4 #9ed1f5;
	background: -moz-linear-gradient(top,
		#fff,
		#e0f4ff 2%,
		#d4e6f0
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#fff),
		color-stop(0.02, #e0f4ff),
		to(#d4e6f0)
	);
	background: linear-gradient(top,
		#fff,
		#e0f4ff 2%,
		#d4e6f0
	);
	filter: PROGID:DXImageTransform.Microsoft.Gradient(StartColorStr='#e0f4ff',EndColorStr='#d4e6f0');
}

.notification.tip p strong{
	color: #0068a4;
}

.notification.tip p{
	background:transparent url(../images/tip.png) no-repeat scroll 14px 12px;
}

.notification.neutral{
	background-color: #f0f0f0;
	border-color: #e4e4e4 #d9d9d9 #cbcbcb;
	background: -moz-linear-gradient(top,
		#fff,
		#f0f0f0 2%,
		#e4e4e4
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#fff),
		color-stop(0.02, #f0f0f0),
		to(#e4e4e4)
	);
	background: linear-gradient(top,
		#fff,
		#f0f0f0 2%,
		#e4e4e4
	);
	filter: PROGID:DXImageTransform.Microsoft.Gradient(StartColorStr='#f0f0f0',EndColorStr='#e4e4e4');
}

.notification.neutral p strong{
	color: #303030;
}

.notification.neutral p{
	background: transparent url(../images/neutral.png) no-repeat scroll 14px 12px;
}













form section {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #EEEEEE;
    padding: 13px 0;
}
form section:first-child {
    border-top: medium none;
}
form section:last-child {
    border-bottom: medium none;
}
form section > div {
    color: #404040;
    font-size: 11px;
    margin-left: 35%;
    position: relative;
}
form section > label {
    color: #404040;
    float: left;
    font-size: 10px;
    font-weight: bold;
    margin-right: 5%;
    margin-top: 2px;
    text-transform: uppercase;
    width: 30%;
}
form section label small {
    color: #999999;
    display: block;
    font-size: 11px;
    font-weight: normal;
    line-height: 13px;
    margin-top: 3px;
    text-transform: none;
}
form input[type="text"], form input[type="password"], form textarea {
    border: 1px solid #C9C9C9;
    border-radius: 3px 3px 3px 3px;
    color: #404040;
    font-size: 11px;
    height: 28px;
    margin-bottom: 3px;
    padding: 0 6px;
    width: 95%;
}
form input.error {
    color: #840004;
}
form input.xsmall {
    width: 10%;
}
form input.small {
    width: 20%;
}
form input.medium {
    width: 40%;
}
form input.large {
    width: 69%;
}
form textarea {
    height: 100px;
    padding-top: 4px;
}
form textarea.wysiwym {
    background: none repeat scroll 0 0 #FFFFFF;
}
form input:focus, form textarea:focus {
    outline: medium none;
}
textarea.wysiwyg {
    width: 99%;
}
label.radio, label.checkbox {
    color: #404040;
    font-size: 11px;
    padding: 3px 0;
}
section div label.error {
    color: #840004;
    position: absolute;
    right: 6px;
    top: 9px;
}
select {
    cursor: pointer;
    width: 100%;
}
.cmf-skinned-select {
    background: url(../images/select.png) no-repeat scroll right center transparent;
    border: 1px solid #C3C3C3;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
    height: 28px;
    margin-left: 0;
    padding: 5px;
}
.cmf-skinned-text {
    font-size: 11px;
    margin-left: 0;
    padding-left: 9px;
    padding-top: 7px;
}




/*-----------------------------------------------------------------------------------*/
/*	Dash Nav Icon Classes
/*-----------------------------------------------------------------------------------*/

.icon.icon_add{background:url(../images/icons/icon_add.png);}
.icon.icon_arrow_down{background:url(../images/icons/icon_arrow_down.png);}
.icon.icon_arrow_left{background:url(../images/icons/icon_arrow_left.png);}
.icon.icon_arrow_right{background:url(../images/icons/icon_arrow_right.png);}
.icon.icon_arrow_up{background:url(../images/icons/icon_arrow_up.png);}
.icon.icon_attach{background:url(../images/icons/icon_attach.png);}
.icon.icon_auction{background:url(../images/icons/icon_auction.png);}
.icon.icon_bell{background:url(../images/icons/icon_bell.png);}
.icon.icon_bell_off{background:url(../images/icons/icon_bell_off.png);}
.icon.icon_blog{background:url(../images/icons/icon_blog.png);}
.icon.icon_book{background:url(../images/icons/icon_book.png);}
.icon.icon_bookmark{background:url(../images/icons/icon_bookmark.png);}
.icon.icon_bookmark_add{background:url(../images/icons/icon_bookmark_add.png);}
.icon.icon_book_marked{background:url(../images/icons/icon_book_marked.png);}
.icon.icon_box{background:url(../images/icons/icon_box.png);}
.icon.icon_box_full{background:url(../images/icons/icon_box_full.png);}
.icon.icon_box_mail{background:url(../images/icons/icon_box_mail.png);}
.icon.icon_brightness{background:url(../images/icons/icon_brightness.png);}
.icon.icon_brush{background:url(../images/icons/icon_brush.png);}
.icon.icon_bulb_off{background:url(../images/icons/icon_bulb_off.png);}
.icon.icon_bulb_on{background:url(../images/icons/icon_bulb_on.png);}
.icon.icon_buzzer{background:url(../images/icons/icon_buzzer.png);}
.icon.icon_calculator{background:url(../images/icons/icon_calculator.png);}
.icon.icon_calendar{background:url(../images/icons/icon_calendar.png);}
.icon.icon_call{background:url(../images/icons/icon_call.png);}
.icon.icon_cancel{background:url(../images/icons/icon_cancel.png);}
.icon.icon_case{background:url(../images/icons/icon_case.png);}
.icon.icon_checkmark{background:url(../images/icons/icon_checkmark.png);}
.icon.icon_circle_arrow_left{background:url(../images/icons/icon_circle_arrow_left.png);}
.icon.icon_circle_arrow_right{background:url(../images/icons/icon_circle_arrow_right.png);}
.icon.icon_command_line{background:url(../images/icons/icon_command_line.png);}
.icon.icon_comment_add{background:url(../images/icons/icon_comment_add.png);}
.icon.icon_comment_delete{background:url(../images/icons/icon_comment_delete.png);}
.icon.icon_comment_ok{background:url(../images/icons/icon_comment_ok.png);}
.icon.icon_computer_off{background:url(../images/icons/icon_computer_off.png);}
.icon.icon_computer_on{background:url(../images/icons/icon_computer_on.png);}
.icon.icon_contrast{background:url(../images/icons/icon_contrast.png);}
.icon.icon_controls_1{background:url(../images/icons/icon_controls_1.png);}
.icon.icon_controls_2{background:url(../images/icons/icon_controls_2.png);}
.icon.icon_controls_3{background:url(../images/icons/icon_controls_3.png);}
.icon.icon_controls_4{background:url(../images/icons/icon_controls_4.png);}
.icon.icon_controls_5{background:url(../images/icons/icon_controls_5.png);}
.icon.icon_controls_6{background:url(../images/icons/icon_controls_6.png);}
.icon.icon_controls_7{background:url(../images/icons/icon_controls_7.png);}
.icon.icon_controls_8{background:url(../images/icons/icon_controls_8.png);}
.icon.icon_copy{background:url(../images/icons/icon_copy.png);}
.icon.icon_court{background:url(../images/icons/icon_court.png);}
.icon.icon_credit_card{background:url(../images/icons/icon_credit_card.png);}
.icon.icon_cut{background:url(../images/icons/icon_cut.png);}
.icon.icon_danger{background:url(../images/icons/icon_danger.png);}
.icon.icon_delete{background:url(../images/icons/icon_delete.png);}
.icon.icon_disk{background:url(../images/icons/icon_disk.png);}
.icon.icon_document{background:url(../images/icons/icon_document.png);}
.icon.icon_document_blank{background:url(../images/icons/icon_document_blank.png);}
.icon.icon_dollar{background:url(../images/icons/icon_dollar.png);}
.icon.icon_download{background:url(../images/icons/icon_download.png);}
.icon.icon_error{background:url(../images/icons/icon_error.png);}
.icon.icon_favorities{background:url(../images/icons/icon_favorities.png);}
.icon.icon_favorities_add{background:url(../images/icons/icon_favorities_add.png);}
.icon.icon_favorities_remove{background:url(../images/icons/icon_favorities_remove.png);}
.icon.icon_film{background:url(../images/icons/icon_film.png);}
.icon.icon_filming{background:url(../images/icons/icon_filming.png);}
.icon.icon_first_aid{background:url(../images/icons/icon_first_aid.png);}
.icon.icon_flag{background:url(../images/icons/icon_flag.png);}
.icon.icon_flag_1{background:url(../images/icons/icon_flag_1.png);}
.icon.icon_flash{background:url(../images/icons/icon_flash.png);}
.icon.icon_flash_arrow{background:url(../images/icons/icon_flash_arrow.png);}
.icon.icon_folder{background:url(../images/icons/icon_folder.png);}
.icon.icon_folder_bookmark{background:url(../images/icons/icon_folder_bookmark.png);}
.icon.icon_folder_goto{background:url(../images/icons/icon_folder_goto.png);}
.icon.icon_font{background:url(../images/icons/icon_font.png);}
.icon.icon_fonts{background:url(../images/icons/icon_fonts.png);}
.icon.icon_font_capital{background:url(../images/icons/icon_font_capital.png);}
.icon.icon_font_italic{background:url(../images/icons/icon_font_italic.png);}
.icon.icon_font_regular{background:url(../images/icons/icon_font_regular.png);}
.icon.icon_font_underline{background:url(../images/icons/icon_font_underline.png);}
.icon.icon_forum{background:url(../images/icons/icon_forum.png);}
.icon.icon_frame{background:url(../images/icons/icon_frame.png);}
.icon.icon_graph_areas{background:url(../images/icons/icon_graph_areas.png);}
.icon.icon_graph_bars{background:url(../images/icons/icon_graph_bars.png);}
.icon.icon_graph_bars_down{background:url(../images/icons/icon_graph_bars_down.png);}
.icon.icon_graph_bars_up{background:url(../images/icons/icon_graph_bars_up.png);}
.icon.icon_graph_down{background:url(../images/icons/icon_graph_down.png);}
.icon.icon_graph_lines{background:url(../images/icons/icon_graph_lines.png);}
.icon.icon_graph_up{background:url(../images/icons/icon_graph_up.png);}
.icon.icon_hat{background:url(../images/icons/icon_hat.png);}
.icon.icon_help{background:url(../images/icons/icon_help.png);}
.icon.icon_home{background:url(../images/icons/icon_home.png);}
.icon.icon_information{background:url(../images/icons/icon_information.png);}
.icon.icon_key{background:url(../images/icons/icon_key.png);}
.icon.icon_keyboard{background:url(../images/icons/icon_keyboard.png);}
.icon.icon_laptop{background:url(../images/icons/icon_laptop.png);}
.icon.icon_link{background:url(../images/icons/icon_link.png);}
.icon.icon_list_bullets{background:url(../images/icons/icon_list_bullets.png);}
.icon.icon_list_numbers{background:url(../images/icons/icon_list_numbers.png);}
.icon.icon_lock{background:url(../images/icons/icon_lock.png);}
.icon.icon_magnify_glass{background:url(../images/icons/icon_magnify_glass.png);}
.icon.icon_mail{background:url(../images/icons/icon_mail.png);}
.icon.icon_manage{background:url(../images/icons/icon_manage.png);}
.icon.icon_measure{background:url(../images/icons/icon_measure.png);}
.icon.icon_measures{background:url(../images/icons/icon_measures.png);}
.icon.icon_mic{background:url(../images/icons/icon_mic.png);}
.icon.icon_mic_1{background:url(../images/icons/icon_mic_1.png);}
.icon.icon_minus{background:url(../images/icons/icon_minus.png);}
.icon.icon_mute{background:url(../images/icons/icon_mute.png);}
.icon.icon_paint{background:url(../images/icons/icon_paint.png);}
.icon.icon_paperclip{background:url(../images/icons/icon_paperclip.png);}
.icon.icon_paper_plane{background:url(../images/icons/icon_paper_plane.png);}
.icon.icon_paper_trash{background:url(../images/icons/icon_paper_trash.png);}
.icon.icon_paragraph{background:url(../images/icons/icon_paragraph.png);}
.icon.icon_pencil{background:url(../images/icons/icon_pencil.png);}
.icon.icon_photo{background:url(../images/icons/icon_photo.png);}
.icon.icon_piechart{background:url(../images/icons/icon_piechart.png);}
.icon.icon_post{background:url(../images/icons/icon_post.png);}
.icon.icon_profile{background:url(../images/icons/icon_profile.png);}
.icon.icon_refresh{background:url(../images/icons/icon_refresh.png);}
.icon.icon_resize{background:url(../images/icons/icon_resize.png);}
.icon.icon_rss{background:url(../images/icons/icon_rss.png);}
.icon.icon_sad_face{background:url(../images/icons/icon_sad_face.png);}
.icon.icon_safe{background:url(../images/icons/icon_safe.png);}
.icon.icon_save{background:url(../images/icons/icon_save.png);}
.icon.icon_settings{background:url(../images/icons/icon_settings.png);}
.icon.icon_shopping_bag{background:url(../images/icons/icon_shopping_bag.png);}
.icon.icon_shopping_cart{background:url(../images/icons/icon_shopping_cart.png);}
.icon.icon_shopping_heavy{background:url(../images/icons/icon_shopping_heavy.png);}
.icon.icon_sim{background:url(../images/icons/icon_sim.png);}
.icon.icon_smile_face{background:url(../images/icons/icon_smile_face.png);}
.icon.icon_sort_az{background:url(../images/icons/icon_sort_az.png);}
.icon.icon_sort_za{background:url(../images/icons/icon_sort_za.png);}
.icon.icon_star{background:url(../images/icons/icon_star.png);}
.icon.icon_storage{background:url(../images/icons/icon_storage.png);}
.icon.icon_switch{background:url(../images/icons/icon_switch.png);}
.icon.icon_tag{background:url(../images/icons/icon_tag.png);}
.icon.icon_tag_add{background:url(../images/icons/icon_tag_add.png);}
.icon.icon_tag_cancel{background:url(../images/icons/icon_tag_cancel.png);}
.icon.icon_tag_delete{background:url(../images/icons/icon_tag_delete.png);}
.icon.icon_text_align_center{background:url(../images/icons/icon_text_align_center.png);}
.icon.icon_text_align_justify{background:url(../images/icons/icon_text_align_justify.png);}
.icon.icon_text_align_left{background:url(../images/icons/icon_text_align_left.png);}
.icon.icon_text_align_right{background:url(../images/icons/icon_text_align_right.png);}
.icon.icon_time{background:url(../images/icons/icon_time.png);}
.icon.icon_timer{background:url(../images/icons/icon_timer.png);}
.icon.icon_trash{background:url(../images/icons/icon_trash.png);}
.icon.icon_twg{background:url(../images/icons/icon_twg.png);}
.icon.icon_unlock{background:url(../images/icons/icon_unlock.png);}
.icon.icon_upload{background:url(../images/icons/icon_upload.png);}
.icon.icon_user{background:url(../images/icons/icon_user.png);}
.icon.icon_users{background:url(../images/icons/icon_users.png);}
.icon.icon_volume{background:url(../images/icons/icon_volume.png);}
.icon.icon_volume_down{background:url(../images/icons/icon_volume_down.png);}
.icon.icon_volume_up{background:url(../images/icons/icon_volume_up.png);}
.icon.icon_wallet{background:url(../images/icons/icon_wallet.png);}
.icon.icon_warning{background:url(../images/icons/icon_warning.png);}
.icon.icon_wifi{background:url(../images/icons/icon_wifi.png);}
.icon.icon_window{background:url(../images/icons/icon_window.png);}
.icon.icon_window_error{background:url(../images/icons/icon_window_error.png);}
.icon.icon_window_globe{background:url(../images/icons/icon_window_globe.png);}
.icon.icon_window_lock{background:url(../images/icons/icon_window_lock.png);}
.icon.icon_zoom_in{background:url(../images/icons/icon_zoom_in.png);}
.icon.icon_zoom_out{background:url(../images/icons/icon_zoom_out.png);}

/*-----------------------------------------------------------------------------------*/
/*	PrettyCheckBoxes
/*-----------------------------------------------------------------------------------*/

label.checkbox span.holder{height:61px;background:url(../images/checkbox.png) 0 -1px no-repeat}label.radio span.holder{height:61px;background:url(../images/radio.png) 0 -1px no-repeat}label.checkbox:hover span.holder,label.radio:hover span.holder{top:-21px !important}label.checked span.holder,label.checked span.holder,label.checked:hover span.holder,label.checked:hover span.holder{top:-42px !important}label.list{display: block;margin:0 0 5px 0}label.inline{float:left;margin:0 10px 0 0}input.hiddenCheckbox{position:absolute;left:-10000px}label.prettyCheckbox span.holderWrap{display:block;float:left;position:relative;margin-right:5px;overflow:hidden}label.prettyCheckbox span.holder{display:block;position:absolute;top:0;left:0}.prettyCheckbox {cursor: pointer;}label .holderWrap { padding-top: 0px }