#errorMessage{
	display: none;
}

#pubMapCurator {
	margin-left: 80px;
	font-size: 13px;
	border: 1px solid #0e4e96;
	border-radius: 20px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	position: relative;
	margin-top: 5px;
	display: inline-block;
	color: #fff;
	background: #00A0FF;
	cursor: move;
	padding: 2px 14px;
	text-decoration: none;
}
.stepsDescription{
	padding-top: 10px;
	margin-left: 80px;
	font-size: 15px;
}
#showToolbarInstruction{
	cursor: pointer;
}