@charset "utf-8";
/* Author: Petar Gligorovski - Zverx // Graphic & Web Designer // http://zverx.com */
/* Company: InterWorks // www.interworks.com.mk */

/* Import Google Font */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Ubuntu+Condensed);
/* Import css files */
@import url('global.css');
@import url('layout.css');
@import url('nav.css');


figure.logo {
	margin: 0;
	padding: 30px 0px 0px 30px;	
	width: 278px;
	height: 108px;
	float: left;
}
.headerBack {
	border-bottom: 1px solid #999;
}
.header-right {
	float: right;
	width: 300px;
}
.header-right a { color: #fff; text-decoration: none; }
.header-right a:hover { color: #fff; text-decoration: underline; }
.header-right a:visited { color: #fff; text-decoration: none; }
.header-right sub {
	font-size: 12px;
	text-align: right;
	float: right;
	margin: .7em 1em!important;
	color: #fff;
}
.headerInterior{
	border-bottom: 1px solid #999;
	background: url("../images/titleBack.png") repeat;
	height: 75px;
}
#slider {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.Box {
	width: 285px;
	height: 150px;
}
.Box.LBlue {
	background-color: #a5ccee;
	box-shadow: #333 0px 0px 10px;
}
.Box.LBlue:hover {
	background-color: #0e4e96;
	-moz-transition: all 500ms ease-in-out;  /* FF 3.7+ */
	-o-transition: all 500ms ease-in-out;	/* OPERA 10.5+ */
	-webkit-transition: all 500ms ease-in-out; /* SAFARI & CHROME */
}
.Box.DBlue {
	background-color: #63b9f3;
	box-shadow: #333 0px 0px 10px;
}
.Box.DBlue:hover {
	background-color: #0e4e96;
	-moz-transition: all 500ms ease-in-out;  /* FF 3.7+ */
	-o-transition: all 500ms ease-in-out;	/* OPERA 10.5+ */
	-webkit-transition: all 500ms ease-in-out; /* SAFARI & CHROME */
}
.Box h3 {
	color: #fff;
	float: right;
	padding: 0em 1em 0em 3em;
}
.Box p {
	float: right;
	text-align: center;
	color: #fff;
	padding: 0em 1em 0em ;	
}
.padRight1dot5 {
	margin-right: 2em;	
}
ul.uldotli li {
	list-style-image:url(../images/dot.png);
	list-style-position: outside;
	margin: .5em 0em;
}
ul.uldotli li a{color: #333;}

ul.reflistlx {
	clear:both;
	border-bottom: 1px dashed #e7e7e7;
}
ul.reflistlx li.authors{
	margin-top: -10px;
}
ul.reflistlx li {
	list-style: none;
	margin: .5em .0em;
	padding: .2em .275em!important;
	float: left;
	display: block;
	/*border: 1px dashed #e7e7e7;
	background-color: #f1f1f1;*/
}
ul.reflistlx li:hover, ul.reflistlx li:hover p, ul.reflistlx li:hover a {
	background-color: #47505b;
	color: #fff;
	
	-moz-transition: all 500ms ease-in-out;  /* FF 3.7+ */
	-o-transition: all 500ms ease-in-out;	/* OPERA 10.5+ */
	-webkit-transition: all 500ms ease-in-out; /* SAFARI & CHROME */
	
}
ul.reflistlx li a {
	-moz-transition: all 500ms ease-in-out;  /* FF 3.7+ */
	-o-transition: all 500ms ease-in-out;	/* OPERA 10.5+ */
	-webkit-transition: all 500ms ease-in-out; /* SAFARI & CHROME */	
}
ul.reflistlx li a:hover {
	color: #fff;
	-moz-transition: all 500ms ease-in-out;  /* FF 3.7+ */
	-o-transition: all 500ms ease-in-out;	/* OPERA 10.5+ */
	-webkit-transition: all 500ms ease-in-out; /* SAFARI & CHROME */
}



ul.authors {
	list-style: none;
}
ul.authors li {
	margin: .5em 0em;
}
ul.authors li a {
	color: #0000ff;
	text-decoration: none;
}
ul.authors li a:hover {
	color: #333;
	text-decoration: none;
}
ul.authors li p {
	color: #333;
}

ul.authors li.authorsTitle {
	font-weight: bold;
}
ul.authors li.authorsDate {
	color: #999;
	}
ul.authors li.authorsNames {
	font-style: italic;
	}
ul.authors li.authorsJournal {
	font-style: undeline;	
}
ul.teamMembers {
	clear:both;
	border-bottom: 1px dashed #e7e7e7;
}
ul.teamMembers{
	margin-top: -10px;
}
ul.teamMembers li {
	list-style: none;
	margin: .5em .5em;
	padding: .2em .275em!important;
	float: left;
	display: block;
	border: 1px dashed #e7e7e7;
	background-color: #f1f1f1;
	
}
ul.teamMembers li:hover, ul.teamMembers li:hover p, ul.teamMembers li:hover a {
	background-color: #47505b;
	color: #fff;
	
	-moz-transition: all 500ms ease-in-out;  /* FF 3.7+ */
	-o-transition: all 500ms ease-in-out;	/* OPERA 10.5+ */
	-webkit-transition: all 500ms ease-in-out; /* SAFARI & CHROME */
	
}
ul.teamMembers li a {
	-moz-transition: all 500ms ease-in-out;  /* FF 3.7+ */
	-o-transition: all 500ms ease-in-out;	/* OPERA 10.5+ */
	-webkit-transition: all 500ms ease-in-out; /* SAFARI & CHROME */	
}
ul.teamMembers li a:hover {
	color: #fff;
	-moz-transition: all 500ms ease-in-out;  /* FF 3.7+ */
	-o-transition: all 500ms ease-in-out;	/* OPERA 10.5+ */
	-webkit-transition: all 500ms ease-in-out; /* SAFARI & CHROME */
}
.lineTopSeparator {
	border-top: 1px dashed #e7e7e7;
}
.lineBottomSeparator {
	border-bottom: 1px dashed #e7e7e7;
}
.footNav {
	float: right;
	padding: 0;
	line-height: 2.88em;
}
.copy {
	float: left;
	width: 30em;
	padding: 0;
	line-height: 2.88em;
}
.lineBox {
	height: .18em;
	background-color: #fff;
}
.viewButton {
	text-align: center;
	float: right;
	margin: 0em .5em .4em 0em;;
}
a.viewButton {
	padding: .3em .7em;
	color: #0e4e96;
	background-color: #c9d7e0;
	text-decoration: none;
}
a.viewButton:hover {
	color: #0e4e96;
	background-color: #eee;
	text-decoration: none;
	-moz-transition: all 500ms ease-in-out;  /* FF 3.7+ */
	-o-transition: all 500ms ease-in-out;	/* OPERA 10.5+ */
	-webkit-transition: all 500ms ease-in-out; /* SAFARI & CHROME */
}

.ui-helper-reset {
	margin-top: 0!important;
	margin-bottom: 0em!important;
	margin-left: 0!important;
	margin-right: 0!important;
}
.videoScreen {
	border: 1px solid #e7e7e7; 
	text-align: center;
}
.faqTable {}
.faqTable td {vertical-align: top; }
.faqTable tbody tr td a:hover {text-decoration:none!important;}
.faqTable tbody tr td {padding:10px!important;}
.contactTable td { background-color: #fff;}

.contentTable tr td {
	padding: 7px!important;

}
