<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.megx.megdb.pubmap.mappers.PubMapMapper">

	<resultMap id="JournalResultMap" type="net.megx.model.Journal">
		<id column="title" jdbcType="VARCHAR" property="title" />
		<result column="publisher" jdbcType="VARCHAR" property="publisher" />
		<result column="iso_abbr" jdbcType="VARCHAR" property="isoAbbr" />
		<result column="med_abbr" jdbcType="VARCHAR" property="medAbbr" />
		<result column="homepage" jdbcType="VARCHAR" property="homepage" />
		<result column="pissn" jdbcType="VARCHAR" property="pissn" />
		<result column="eissn" jdbcType="VARCHAR" property="eissn" />
		<result column="country" jdbcType="VARCHAR" property="country" />
		<result column="pubstart" jdbcType="VARCHAR" property="pubstart" />
		<result column="lang" jdbcType="VARCHAR" property="lang" />
		<result column="nlmid" jdbcType="VARCHAR" property="nlmid" />
		<!-- 
		<result column="created" jdbcType="TIMESTAMP" property="created" />
		<result column="created_by" jdbcType="VARCHAR" property="createdBy" />
		<result column="updated" jdbcType="TIMESTAMP" property="updated" />
		<result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
		 -->
	</resultMap>

	<resultMap type="Article" id="article_map">
		<result property="title" column="db_title" />
		<!-- TODO: -->
	</resultMap>

	<select id="getAllArticles" resultMap="article_map">
		select * from some.table
	</select>

	<insert id="addArticle" parameterType="Article">
		insert into core.articles (id, id_code, title,
		journal,
		issue, volume, yr,
		mon
		)
		values (#{DOI,jdbcType=VARCHAR}, 'doi',
		#{title,jdbcType=VARCHAR},
		#{journal.title,jdbcType=VARCHAR},
		#{issue,jdbcType=VARCHAR},
		#{volume,jdbcType=VARCHAR},
		#{publicationYear,jdbcType=VARCHAR},
		#{publicationMonth,jdbcType=VARCHAR}
		)

	</insert>

	<insert id="insertJournalSelective" parameterType="net.megx.model.Journal">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Jun 14 
			04:36:50 CEST 2012. -->
		insert into core.journals
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title != null">
				title,
			</if>
			<if test="publisher != null">
				publisher,
			</if>
			<if test="isoAbbr != null">
				iso_abbr,
			</if>
			<if test="medAbbr != null">
				med_abbr,
			</if>
			<if test="homepage != null">
				homepage,
			</if>
			<if test="pissn != null">
				pissn,
			</if>
			<if test="eissn != null">
				eissn,
			</if>
			<if test="country != null">
				country,
			</if>
			<if test="pubstart != null">
				pubstart,
			</if>
			<if test="lang != null">
				lang,
			</if>
			<if test="nlmid != null">
				nlmid,
			</if>
		
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="publisher != null">
				#{publisher,jdbcType=VARCHAR},
			</if>
			<if test="isoAbbr != null">
				#{isoAbbr,jdbcType=VARCHAR},
			</if>
			<if test="medAbbr != null">
				#{medAbbr,jdbcType=VARCHAR},
			</if>
			<if test="homepage != null">
				#{homepage,jdbcType=VARCHAR},
			</if>
			<if test="pissn != null">
				#{pissn,jdbcType=VARCHAR},
			</if>
			<if test="eissn != null">
				#{eissn,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				#{country,jdbcType=VARCHAR},
			</if>
			<if test="pubstart != null">
				#{pubstart,jdbcType=VARCHAR},
			</if>
			<if test="lang != null">
				#{lang,jdbcType=VARCHAR},
			</if>
			<if test="nlmid != null">
				#{nlmid,jdbcType=VARCHAR},
			</if>
		
		</trim>
	</insert>

</mapper>