<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.megx.megdb.pubmap.mappers.PubMapMapper">
	<resultMap type="Article" id="pubmap_article">
		<result column="pmid" property="pmid" />
		<result column="lon" property="lon" />
		<result column="lat" property="lat" />
		<result column="article_xml" property="articleXML" />
		<result column="user_name" property="userName" />
		<result column="megxbar" property="megxBarJSON" />
		<result column="created" property="created" />
	</resultMap>

	<insert id="storeArticle" parameterType="Article">
		INSERT INTO
		pubmap.raw_pubmap(pmid, article_xml, user_name, megxbar, created,
		geom)
		VALUES (#{pmid}, xmlparse(document #{articleXML}),
		#{userName},to_json(#{megxBarJSON}),#{created},
		ST_PointFromText('POINT(${lon} ${lat})',4326))
	</insert>
	
	<select id="articleExists" parameterType="int" resultType="boolean">
		SELECT EXISTS (SELECT true FROM pubmap.raw_pubmap WHERE pmid=#{pmid})
	</select>

</mapper>