<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>megx.net</display-name>

	<!-- The Felix Container is based on the ServletBridge Example at https://felix.apache.org/site/apache-felix-http-service.html#ApacheFelixHTTPService-UsingtheServletBridge -->
	<listener>
		<listener-class>com.choncms.felix.bridge.StartupListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>proxy</servlet-name>
		<servlet-class>com.choncms.felix.proxy.ProxyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!-- error-page> <error-code>403</error-code> <location>/login</location> 
		</error-page -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error/500</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error/503</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/403</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/error/400</location>
	</error-page>

</web-app>
