.gms_outerbox{
 margin-left:auto;
 margin-right:auto;
 margin-top:0px;
 width:1000px;
 padding:0px;
}
div#gms_left_buttonbox{
 text-align:right;
}
.gms_center{
 margin:0px;
 margin-left:260px;
 width:675px;
 padding:0px;
 
}
div#gms_center_gmsbox{
width:675px;
height:400px;
margin-left:auto;
margin-right:auto;
}
div#tip{
width:100%;
padding:4px;
}
div#legendBox{
margin-top:3px;
width:100%;
text-align:left;
}
.legenditem {
background-color:#FFFFFF;
width:100%;
padding:2px;
}
.InnerBox {
	padding: .35em 0em;
	margin:0px;
	
	background-color: #616975;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(100, 170, 225)),to(rgb(70, 120, 170)));
	background-image: -webkit-linear-gradient(top, rgb(100, 170, 225), rgb(70, 120, 170));
	background-image: -moz-linear-gradient(top, rgb(100, 170, 225), rgb(70, 120, 170));
	background-image: -o-linear-gradient(top, rgb(100, 170, 225), rgb(70, 120, 170));
	background-image: -ms-linear-gradient(top, rgb(100, 170, 225), rgb(70, 120, 170));
	background-image: linear-gradient(top, rgb(100, 170, 225), rgb(70, 120, 170));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#64aae1', EndColorStr='#4678aa');
	border-bottom: 1px solid #315d88;
	-webkit-box-shadow: inset 0px 1px 0px 0px #b3d7ef;
	-moz-box-shadow: inset 0px 1px 0px 0px #b3d7ef;
	box-shadow: inset 0px 1px 0px 0px #b3d7ef;	
	color:#fff!important;
	text-align: center;
}
.wh100 {
	width: 100%!important; 
	height: 100%!important;
}