<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.megx.megdb.myosd.impl.MyOsdMyBatisMapper">


  <sql id="allParticipantColumns">raw, email, user_name, myosd_id, schema_version</sql>
  <sql id="table">myosd.registrations</sql>
  
  <resultMap id="participantResultMap" type="net.megx.megdb.myosd.dto.MyOsdParticipantDTOImpl">
    <id property="id" column="id" />
    <result property="myOsdId" column="myosd_id" />
    <result property="email" column="email" />
    <result property="userName" column="user_name" />
    <result property="version" column="schema_version" />
    <result property="rawJson" column="raw" />
    <result column="submitted" property="submitted" />
    <result column="modified" property="modified" />
  </resultMap>
  

  <insert id="saveParticipant" parameterType="net.megx.megdb.myosd.MyOsdParticipantRegistration">
  select myosd.ins_myosd_regisration( 
    #{email}::text, 
    #{userName},
    #{myOsdId}::integer,
    #{version}::integer,
    #{rawJson}::json);
  </insert>

 <select id="updParticipantFromJson" >
    select myosd.upd_myosd_regisrations_from_json()
  </select>

  
  <select id="participantByName" parameterType="String"
    resultMap="participantResultMap">
    select
    <include refid="allParticipantColumns" />
    FROM <include refid="table"/>
    WHERE user_name = #{name}
  </select>


  <select id="participantByEmail" parameterType="String"
    resultMap="participantResultMap">
    select
    <include refid="allParticipantColumns" />
    FROM <include refid="table"/>
    WHERE email = #{email}
  </select>
  
    <select id="participantByMyOsdId" parameterType="int"
    resultMap="participantResultMap">
    select
    <include refid="allParticipantColumns" />
    FROM <include refid="table"/>
    WHERE myosd_id = #{myOsdId}
  </select>

</mapper>