<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.megx.megdb.myosd.impl.MyOsdMyBatisMapper">

  <insert id="saveParticipant" parameterType="net.megx.megdb.myosd.MyOsdParticipantRegistration">
    insert into
    myosd.registrations
    (raw, email, myosd_id, schema_version)
    VALUES
    (#{rawJson}::json, #{email}::text, #{myOsdId}::integer, #{version}::integer);

  </insert>


</mapper>