<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.megx.model.mibig.MibigSubmission">
	<resultMap type="MibigSubmission" id="pubmap_article">
		<result column="id" property="id" />
		<result column="submitted" property="submitted" />
		<result column="modified" property="modified" />
		<result column="raw" property="raw" />
		<result column="v" property="version" />
	</resultMap>

	<insert id="storeMibigSubmission" parameterType="MibigSubmission">
		INSERT INTO
		mibig.submissions(submitted, modified, raw, v)
		VALUES (#{submitted},
		#{modified},
		#{version},to_json(#{raw}))
	</insert>

</mapper>