<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.megx.megdb.contact.mappers.ContactMapper">

<resultMap type="Contact" id="contact_mail">
		<result column="name" property="name" />
		<result column="email" property="email" />
		<result column="created" property="created" />
		<result column="comment" property="comment" />
	</resultMap>
    
    <insert id="storeContact" parameterType="Contact">
		INSERT INTO auth.contact(created, email, name, comment )
		VALUES (#{created}, #{email}, #{name}, #{comment})
		
	</insert> 
</mapper>

