<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="chon">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="Chon_Core.feature.group" version="1.0.0"/>
<unit id="Chon_Libraries.feature.group" version="1.0.0"/>
<repository location="http://p2.choncms.com/SNAPSHOT"/>
</location>
</locations>
</target>
